<md-input-container class="full-width">
  <textarea mdInput [(ngModel)]="hex" (keyup)="onHexKeyup($event)"
            placeholder="Type hexadecimal digits to hash"></textarea>
</md-input-container>
<div>
  <table style="display:block;overflow: auto">
    <thead>
    <tr>
      <td>Algorithm</td>
      <td>Hash</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hash of hashes">
      <td>{{hash.algorithm}}</td>
      <td>
        <div>
          <pre>{{hash.hash}}</pre>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
