<md-card>
  <md-card-title>{{title}}</md-card-title>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Text">
        <div class="tab-content-wrapper">
          <hashee-plaintext>Loading 'plaintext component' ...</hashee-plaintext>
        </div>
      </md-tab>
      <md-tab label="Hexadecimal Digits">
        <div class="tab-content-wrapper">
          <hashee-hex>Loading 'hex component' ...</hashee-hex>
        </div>
      </md-tab>
      <md-tab label="File">
        <div class="tab-content-wrapper">
          <hashee-binary>Loading 'binary component' ...</hashee-binary>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
