<md-card>
  <md-card-title>{{title}}</md-card-title>
  <md-card-content>
    <md-tab-group>
      <md-tab label="Text">
        <div style="margin: 2em 1em 1em 1em">
          <hashee-plaintext>Loading 'plaintext component' ...</hashee-plaintext>
        </div>
      </md-tab>
      <md-tab label="Hexadecimal Digits">
        <div style="margin: 2em 1em 1em 1em">
          <hashee-hex>Loading 'hex component' ...</hashee-hex>
        </div>
      </md-tab>
      <md-tab label="File">
        <div style="margin: 2em 1em 1em 1em">

        </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
